@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-color: #313131;
  padding: 0;
  margin: 0;
}

.formWrapper {
  width: 400px;
  background: #4B5D67;
  padding: 20px 20px 10px 20px;
  text-align: center;
}

.title {
  font-family: Lobster;
  color: #293A80;
}

.joinInput {
  background-color: #303841;
  color: #eee;
  border-color: #333
}

.chatLink {
  background-color: #3282B8;
  color: #eee;
  width: 100%;
  display: block;
  height: 30px;
  line-height: 30px;
  transition: .2s;
}
.chatLink:hover,
.chatLink:focus {
  background-color: #3690cc;
  color: #fff;
}
.controls {
  color: #eee;
}
.accordionItem {
  background-color: #4B5D67;
  color: #eee;
}
.messageWrapper {
  background-color: #435055;
  padding: 7px;
  display: inline-block;
  border-radius: 7px;
  margin-top: 10px;
}
.message {
  color: #eee;
}
.author {
  font-weight: 600;
}

/*  Customized ant styles  */
.ant-layout-sider-trigger {
  position: absolute;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  margin-top: 0;
}
.ant-layout-sider-trigger {
  height: 40px;
}

/* Customizing react-scroll-to-bottom */
/* .react-scroll-to-bottom--css-vauhk-1n7m0yu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
} */
